:root {
  --sf: Raleway, sans-serif;
  --pf: Syncopate, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:var(--sf);
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

